*.pyc
.tox
.idea
build
dist
doc/html
libs
*.egg-info
*.pdb
*.so
*.o
*.pyd

src/lxml/includes/lxml-version.h
src/lxml/*.html
src/lxml/lxml.etree.c
src/lxml/lxml.etree.h
src/lxml/lxml.etree_api.h
src/lxml/lxml.objectify.c
