.tox
.idea
.vscode
.hg
.cache
.coverage
.ipynb_checkpoints/
build
doc/_build
doc/pdf
doc/html
doc/sphinx
dist
wheelhouse
wheels
venvs
*venv
*dump
cython_debug/
py[0-9][0-9]
lxml-*/
libs
*.egg-info
*.pickle
*.pyc
*.pdb
*.so
*.o
*.pyd
*.whl
*.log
*.patch
*.orig
*.rej
*.gz
*.xz
*.bz2
*.zip
*.tgz
*~
callgrind.out.*
coverty
coverage
coverage.xml
coverage.html
MANIFEST
TEST

doc/api/lxml*.rst
doc/api/_build/
doc/s5/lxml-ep2008.html
src/lxml/includes/*/
src/lxml/includes/lxml-version.h
src/lxml/html/*.html
src/lxml/html/*.c
src/lxml/*.html
src/lxml/*.c
src/lxml/etree.h
src/lxml/etree_api.h
src/lxml/lxml.etree.c
src/lxml/lxml.etree.h
src/lxml/lxml.etree_api.h
