exclude *.py
include setup.py test.py selftest.py selftest2.py
include update-error-constants.py
include MANIFEST.in version.txt
include CHANGES.txt CREDITS.txt INSTALL.txt LICENSES.txt README.txt TODO.txt
recursive-include src *.pyx *.pxd *.pxi *.py
recursive-include src/lxml etree.c objectify.c etree.h etree_defs.h
recursive-include src/lxml/tests *.rng *.xslt *.xml *.dtd
recursive-include benchmark *.py
recursive-include doc *.txt *.html *.css *.xml *.mgp pubkey.asc
include doc/mkhtml.py doc/rest2html.py
exclude doc/pyrex.txt src/lxml/etree.pxi
