exclude *.py
include setup.py ez_setup.py setupinfo.py versioninfo.py buildlibxml.py
include test.py selftest.py selftest2.py
include update-error-constants.py
include MANIFEST.in Makefile version.txt requirements.txt
include CHANGES.txt CREDITS.txt INSTALL.txt LICENSES.txt README.rst TODO.txt
recursive-include src *.pyx *.pxd *.pxi *.py
recursive-include src/lxml lxml.etree.c lxml.objectify.c
recursive-include src/lxml lxml.etree.h lxml.etree_api.h etree_defs.h lxml_endian.h
recursive-include src/lxml/isoschematron *.rng *.xsl *.txt
recursive-include src/lxml/tests *.rng *.xslt *.xml *.dtd *.xsd *.sch *.html
recursive-include src/lxml/html/tests *.data *.txt
recursive-include samples *.xml
recursive-include benchmark *.py
recursive-include doc *.txt *.html *.css *.xml *.mgp pubkey.asc tagpython*.png Makefile
recursive-include doc/s5/ui *.gif *.htc *.png *.js
recursive-include doc/s5/ep2008 *.py *.png *.rng
include doc/*.py
