include setup.py MANIFEST.in version.txt
include CHANGES.txt CREDITS.txt INSTALL.txt LICENSES.txt README.txt TODO.txt
recursive-include src *.pyx *.pxd *.pxi *.py etree.c etree.h
recursive-include src/lxml/tests *.rng *.xslt *.xml
recursive-include doc *.txt *.html *.css *.xml *.mgp pubkey.asc
exclude doc/pyrex.txt
