body {
    /* CSS Hack for IE that does not respect the "margin: auto" rule at the
     * document level */
    text-align: center;
    padding: 1em;
}


@media screen {
    div.document {
        width: 45em;
        padding-left: 21em;
        background-color: white;
    }
}

@media print {
    div.document {
        width: auto;
        padding-left: 0px;
    }

    div.sidemenu {
        display: none;
    }
}

div.document {
    font: 13px Arial, Verdana, Helvetica, sans-serif;
    margin: 1em auto 1em auto;
    color: #222;
    text-align: left;
}

/*** TOC ***/

div.contents.topic > ul {
    margin-top: 0px;
}

div.contents.topic > ul > li {
    text-decoration: none;
    line-height: 1.1em;
}

div.contents.topic > p > a {
    text-decoration: none;
}

/*** side menu ***/

div.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 22em;
    font-size: 11px;
    text-align: left;
    border-right: groove gray;
    border-bottom: groove gray;
    padding-right: 1ex;
    background-color: #FFFAFA;
}

div.sidemenu span.section.title {
    line-height: 1.5em;
    font-size: 130%;
}

div.sidemenu ul.menu.current li {
    color: #CC0000;
}

div.sidemenu ul.menu.current > li > a {
    color: #CC0000;
}

div.sidemenu ul.menu.current ul.submenu {
    display: block;
}

div.sidemenu ul.menu.foreign ul.submenu li {
    padding-top: 2px;
    padding-bottom: 2px;
}

div.sidemenu ul.menu.foreign li.menu:hover ul.submenu {
    display: block;
    position: absolute;
    border: groove #990000;
    padding: 1ex 1ex 1ex 3ex;
    margin-top: 0px;
    margin-left: 4em;
    margin-right: -20em;
    color: #990000;
    background-color: white;
}

div.sidemenu ul.submenu {
    display: none;
}

div.sidemenu ul {
    line-height: 1em;
    margin: 1ex;
    padding-left: 1em;
}

/*** headings ***/

h1.title {
    background: url(http://codespeak.net/img/codespeak1b.png) no-repeat;
    padding: 20px 0 0 180px;
    height: 60px;
    font-size: 200%;
}

h1.title, h1 a, h2 a, h3 a {
    color: #666;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

@media screen {
    div.section > h1 > a:before {
        margin-left: -2ex;
        color: #CC0000;
        content: "\00BB" " ";
    }
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 110%;
}

/*** content ***/

a, a:visited {
    background-color: transparent;
    font-weight: bold;
    color: Black;
    text-decoration: none;
}

p a:active, ul a:active {
    color: Red;
}

p a:hover, ul a:hover {
    text-decoration: underline;
}

p {
    /*margin: 0.5em 0em 1em 0em;*/
    text-align: justify;
    line-height: 1.5em;
    margin: 0.5em 0em 0em 0em;
}

hr {
    clear: both;
    height: 1px;
    color: #8CACBB;
    background-color: transparent;
}

ul {
    line-height: 1.5em;
    margin-left: 1em;
}

ol {
    line-height: 1.5em;
    margin-left: 0em;
}

blockquote {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
}

code {
    color: Black;
    background-color: #cccccc;
    font-family: "Courier New", Courier, monospace;
}

pre {
    padding: 0.5em;
    border: 1px solid #8cacbb;
    color: Black;
    background-color: #cccccc;
    font-family: "Courier New", Courier, monospace;
}
