name: Cache library dependencies

on:
  workflow_call:
    inputs:
      ZLIB_VERSION:
        default: "1.3.1"
        required: false
        type: string
      LIBICONV_VERSION:
        default: "1.18"
        required: false
        type: string
      LIBXML2_VERSION:
        default: "2.14.6"
        required: false
        type: string
      LIBXSLT_VERSION:
        default: "1.1.43"
        required: false
        type: string

    outputs:
      ZLIB_VERSION:
        value: ${{ inputs.ZLIB_VERSION }}
      LIBICONV_VERSION:
        value: ${{ inputs.LIBICONV_VERSION }}
      LIBXML2_VERSION:
        value: ${{ inputs.LIBXML2_VERSION }}
      LIBXSLT_VERSION:
        value: ${{ inputs.LIBXSLT_VERSION }}


jobs:
  cache_libs:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-22.04"
          - "ubuntu-22.04-arm"
          - "macos-latest"
          - "windows-2022"
          - "windows-11-arm"

    runs-on: ${{ matrix.os }}

    env:
      ZLIB_VERSION: ${{ inputs.ZLIB_VERSION }}
      LIBICONV_VERSION: ${{ inputs.LIBICONV_VERSION }}
      LIBXML2_VERSION: ${{ inputs.LIBXML2_VERSION }}
      LIBXSLT_VERSION: ${{ inputs.LIBXSLT_VERSION }}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Cache [libs]
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: |
          libs/*.xz
          libs/*.gz
          libs/*.zip
        key: libs-${{ runner.os }}-${{ runner.arch }}-${{ env.LIBXML2_VERSION }}-${{ env.LIBXSLT_VERSION }}

    - name: Download latest libraries
      env:
        GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python3 buildlibxml.py --download-only
